[submodule "cum"]
	path = cum
	url = https://github.com/Hamuko/cum
[submodule "goddess_downloader"]
	path = goddess_downloader
	url = https://github.com/salvadorp2001/goddess_downloader
[submodule "madodl"]
	path = madodl
	url = https://github.com/miezak/madodl
[submodule "nothing_wrong"]
	path = nothing_wrong
	url = https://github.com/qqueue/nothing_wrong
[submodule "Kissanime-LinkDownload"]
	path = Kissanime-LinkDownload
	url = https://github.com/Vergo777/Kissanime-LinkDownload
[submodule "kissanime_dl"]
	path = kissanime_dl
	url = https://github.com/wileyyugioh/kissanime_dl
[submodule "Kissanime-Downloader"]
	path = Kissanime-Downloader
	url = https://github.com/Eltion/Kissanime-Downloader
[submodule "Kissanime-Download-Links-Grabber"]
	path = Kissanime-Download-Links-Grabber
	url = https://github.com/KarthikMAM/Kissanime-Download-Links-Grabber
[submodule "kissanime-dl"]
	path = kissanime-dl
	url = https://github.com/weakit/kissanime-dl
[submodule "Kissanime-Scraper"]
	path = Kissanime-Scraper
	url = https://github.com/lancelot1337/Kissanime-Scraper
[submodule "kissBypass"]
	path = kissBypass
	url = https://github.com/Liumkattan/kissBypass
[submodule "downloader-kissanime"]
	path = downloader-kissanime
	url = https://github.com/wildtron/downloader-kissanime
[submodule "Easy-KissAnime-API"]
	path = Easy-KissAnime-API
	url = https://github.com/ogniK5377/Easy-KissAnime-API
[submodule "kissmanga-downloader"]
	path = kissmanga-downloader
	url = https://github.com/bmzhao/kissmanga-downloader
